@tailwind base;

@tailwind componenets;


.main-bg::before {
    @apply empty-content bg-ornament bg-cover fixed inset-0 z-behind opacity-50
}

.btn-indigo {
    @apply bg-indigo-600 w-32 py-2 rounded-lg text-sm hover:to-indigo-400 hover:opacity-90 active:bg-indigo-700 focus:outline-none text-gray-200 transition duration-500 ease-in-out
}

.btn-indigo:focus {
   @apply shadow-none
}

.select-container::-webkit-scrollbar {
    width: 0.5rem;
}

.select-container::-webkit-scrollbar-track {
    @apply shadow-inner
}

.select-container::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full
}

.song-select:hover {
    @apply bg-indigo-600 text-gray-300
}

.rotate-arrow {
    @apply transition duration-500
}
@tailwind utilities;

@layer utilities {

    .select-display {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
    }

    /* style the items (options), including the selected item: */
    .select-items div,.select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        cursor: pointer;
    }

    /* Style items (options): */
    .select-items {
        position: absolute;
        background-color: DodgerBlue;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

}